html, body {
    background-color: #21232A;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 2rem;
}

button.counter-button {
    padding: 10px 50px;
    font-size: 1.4em;
}